<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/img/" type="image/x-icon">
    <title>Cadastrar Produto</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <div class="col-sm-4">
            <a class="navbar-brand" href="#"><img src="/img/bobsLOgo.png" width="100"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse col-sm-9" id="navbarNav">
            <ul class="nav justify-content-end">
                <li class="nav-item col-sm">
                    <a class="btn btn-outline-light" href="/">Home</a>
                </li>
                <li class="nav-item col-sm">
                    <a class="btn btn-outline-light" href="/produto/cardapio">Cardápio</a>
                </li>
                <li class="nav-item col-sm">
                    <a class="btn btn-outline-light" href="/pessoa/formulario">Cadastro</a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item col-sm">
                    <a class="btn btn-outline-light" href="/produto/formulario">Cadastrar Produto</a>
                </li>
                <li  sec:authorize="hasRole('ROLE_ADMIN')"  class="nav-item col-sm">
                    <a class="btn btn-outline-light" href="/produto/listar">Listar Produto</a>
                </li>
                <li  sec:authorize="hasRole('ROLE_USER')"  class="nav-item col-sm">
                    <a class="btn btn-outline-light" href="/pessoa/listarpedidos">Histórico de compras</a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item col-sm">
                    <a class="btn btn-outline-warning" href="/logout">Sair</a>
                </li>
                <li sec:authorize="hasRole('ROLE_USER')" class="nav-item col-sm">
					<a class="btn btn-outline-light" href="/pedido/listar">Ver carrinho</a>
				</li>
                <li sec:authorize="hasRole('ROLE_USER')" class="nav-item col-sm">
                    <a class="btn btn-outline-warning" href="/logout">Sair</a>
                </li>
            </ul>
            <a sec:authorize="!isAuthenticated()" href="/pessoa/logar" class="btn btn-outline-danger navbar-btn">Entrar</a>
        </div>
    </nav>
    <div class="container" style="height: 23.5rem;">


        <center style="margin-top: 8%;">
            <h1 style="margin-bottom: 5%;">Cadastro de Produto</h1>
            <form method="post" class="col-sm-7" action="/produto/salvar" 
            enctype="multipart/form-data" th:object="${produto}">

            <input type="hidden" th:field="*{idProduto}">
		
		 <div class="alert alert-success" role="alert"
				th:if="${!#strings.isEmpty(mensagem)}">
			<span th:text="${mensagem}"></span>
		</div>

		<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
			<div th:each="detailedError : ${#fields.detailedErrors()}">
				<span th:text="${detailedError.message}"> </span>
			</div>
		</div> 

                <div>
                    <div class="col-sm-6">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Nome do produto" 
                            name="nomeProduto" th:field="*{nomeProduto}">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Preço"
                            name="preco" th:field="*{preco}" id="preco">
                        </div>
                        <div class="col">
    						<label for="exampleFormControlFile1">Escolha a imagem</label>
   			 				<input type="file" class="form-control-file" 
   			 				id="exampleFormControlFile1" name="imagem">
  						</div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <button type="submit" class="btn btn-danger btn-lg " style="width: 15.5rem; margin-top: 10%;">
                        Entrar
                    </button>
                </div>

            </form>

        </center>

    </div>

    <div class="card text-center col" style="margin-top: 5%;">

        <div class="card-footer text-muted">
            &copy; 2019 VAFCorporation
        </div>
    </div>

      <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.mask.min.js"></script>
    <script src="/js/script.js"></script>

</body>

</html>